<%= form_with model: student do |form| %>
  <% if @student.errors.any?%>
    <% @student.errors.full_messages.each do |message| %>
      <strong><%= message %></strong>
    <%end%>
  <%end%>
  <div>
    <%= form.label :first_name%><br/>
    <%= form.text_field :first_name %>
  </div>
  <br/>
  <div>
    <%= form.label :last_name%><br/>
    <%= form.text_field :last_name %>
  </div>
  <br/>
  <div>
    <%= form.label :email%><br/>
    <%= form.text_field :email %>
  </div>
  <br/>
  <div>
    <%= form.label :dob%><br/>
    <%= form.text_field :date %>
  </div>
  <br/>
  <div>
    <%= form.label :permanent_contact_number%><br/>
    <%= form.text_field :permanent_contact_number %>
  </div>
  <br/>
  <div>
    <%= form.label :local_address%><br/>
    <%= form.text_field :local_address %>
  </div>
  <br/>
  <div>
    <%= form.label :permanent_address%><br/>
    <%= form.text_field :permanent_address %>
  </div>
  <br/>
  <div>
    <%= form.label :alternate_contact_number%><br/>
    <%= form.text_field :alternate_contact_number %>
  </div>
  <br/>
  <div>
    <%= form.submit%>
  </div>
<%end%>